## 연습문제

In [1]:
#Q1.
guk=80 #국어
eng=75 #영어 
math=55 #수학 

evg=(guk+eng+math)/3 #평균
print("홍길동씨의 평균점수는 %d점" %evg)

홍길동씨의 평균점수는 70점

In [2]:
#Q2.
num=13

if num%2==0:
    print("13은 짝수입니다.")
else:
    print("13은 홀수입니다.")

13은 홀수입니다.

In [3]:
#Q3. 
person="881120-1068234"

birth=person[:6]
num=person[7:]

print("연월일:",birth,"숫자:",num)

연월일: 881120 숫자: 1068234

In [4]:
#Q4.
pin="881120-1068234"

if pin[7]==2:
    print(pin[7],"이므로 여자입니다.")
else:
    print(pin[7],"이므로 남자입니다.")

1 이므로 남자입니다.

In [5]:
#Q5.
a="a:b:c:d"
a.replace(':','#')

'a#b#c#d'

In [6]:
#Q6.
a=[1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [7]:
#Q7.
word=['Life','is','too','short']
" ".join(word)

'Life is too short'

In [8]:
#Q8. 
t1=(1,2,3)
t2=(4,)
t1+t2

(1, 2, 3, 4)

In [9]:
#Q9.
a=dict()
a
#오류발생 고르기
#1. a['name']='python'
#2. a[('a',)]='python'
#3. a[[1]]='python'
#4. a[250]='python'

#답은 3. key값에는 리스트가 들어갈 수 없음

{}

In [10]:
#Q10.
a={'A':90,'B':80,'C':70}
a.pop('B')

80

In [11]:
#Q11.
a=[1,1,1,2,2,3,3,3,4,4,5]
b=set(a)
b

{1, 2, 3, 4, 5}

In [12]:
#Q12.
a=b=[1,2,3]
a[1]=4
print(b)

#결과값은 [1,4,3]
#두 변수가 가리키는 주소가 같기 때문

[1, 4, 3]