# 2. 문자열 자료형

### 이스케이프코드
\n : 문자열 안에서 줄바꿈 
   
\t : 문자열 사이에 탭  
  
\\ : 문자\를 그대로 표현할 때 사용  
  
\' : 작은 따옴표(')를 그대로 표현할 때 사용  
  
\" : 큰 따옴표(")를 그대로 표현할 때 사용  
  
\r : 캐리지 리턴(줄 바꿈 문자, 현재 커서를 가장 앞으로 이동)  
  
\f : 폼 피드(줄 바꿈 문자, 현재 커서를 다음 줄로 이동)  
  
\a : 벨 소리(출력할 때 PC스피커에서 소리가 남)
  
\b : 백 스페이스  
  
\000 : 널문자

### 문자열 인덱싱과 슬라이싱
#### 문자열 인덱싱  
- a[번호] 를 이용하여 문자열 안의 특정한 값 뽑아내는 역할  
- 번호는 0부터 시작하며 a[-1]과 같이 뒤에서부터 읽을 수도 있음  

#### 문자열 슬라이싱  
- a[시작번호:끝번호]과 같이 사용하며 시작번호와 끝번호는 생략 가능  
- 시작번호부터 끝번호 앞 문자까지 출력

### 문자열 포매팅
문자열 안에 어떤 값을 삽입하는 방법

In [1]:
#숫자 바로 대입
"I eat %d apples."% 3
#숫자를 넣고 싶은 곳에 %d를 넣고 문자열 포맷 코드로 따로 변수 처럼 전달

'I eat 3 apples.'

In [2]:
#문자열 바로 대입
"I eat %s apples." % "five"
#문자를 넣고 싶은 곳에 %s를 미리 넣고 문자열 포맷 코드로 따로 변수 처럼 전달

'I eat five apples.'

In [3]:
#숫자 값을 나타내는 변수로 대입
number=3
"I like number %d" % number
#문자열 포맷 코드에 변수를 넣어 전달 가능

'I like number 3'

In [4]:
#2개 이상의 값 넣기
number=10
day=20
"I ate %d apples. so i was sick for %d days." % (number,day)
#2개 이상의 변수를 넣고 싶으면 % 다음 괄호  안에 콤마로 구분하여 각각 전달

'I ate 10 apples. so i was sick for 20 days.'

### 문자열 포맷 코드
%s : 문자열  
  
%c : 문자 1개  
  
%d : 정수 
  
%f : 부동소수  
  
%o : 8진수 
  
%x : 16진수  
  
%% : 문자%

### 문자열 관련 함수

In [5]:
#문자 개수 세기(count)
a="hobby"
a.count('b')

2

In [6]:
#위치 알려주기(find)
a="strawberry"
a.find('s')
#찾는 문자/문자열이 처음으로 나온 위치 반환
#만약 찾는 문자/문자열이 존재하지 않으면 -1 반환

0

In [7]:
#위치 알려주기(index)
a="Life is too short"
a.index('t')
#찾는 문자가 맨 처음으로 나온 위치 반환
#만약 찾는 문자/문자열이 존재하지 않으면 오류 발생시킴

8

In [8]:
#문자열 삽입(join)
",".join('abcd')
#문자열의 각각 문자 사이에 ','삽입
#join함수는 문자열뿐만아니라 리스트, 튜플도 입력으로 사용가능

'a,b,c,d'

In [9]:
#소문자를 대문자로 바꾸기(upper)
a="hi"
a.upper()

'HI'

In [10]:
#대문자를 소문자로 바꾸기(lower)
a="HI"
a.lower()

'hi'

In [11]:
#왼쪽 공백 지우기(lstrip)
a="  hi  "
a.lstrip()

'hi  '

In [12]:
#오른쪽 공백 지우기(rstrip)
a="  hi  "
a.rstrip()

'  hi'

In [13]:
#양쪽 공백 지우기(strip)
a=" hi "
a.strip()

'hi'

In [14]:
#문자열 바꾸기(replace)
a="Life is too short"
a.replace("Life","Your leg")
#replace(바뀔 문자열, 바꿀 문자열)로 사용하여 문자열 치환

'Your leg is too short'

In [15]:
#문자열 나누기(split)
a="Life is too short"
print(a.split())
#괄호안에 아무값도 넣지 않으면 공백을 기준으로 문자열 나눔 
b="a:b:c:d"
print(b.split(':'))
#괄호 안에 특정 값이 있을 경우 그 값을 구분자로 해서 문자열 나눔

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']